.apply_img2_animate_init,
.programme2_animate_init,
.nav_animate_init,
.foot_animate_init,
.development2_animate_init
{
    opacity: 0;
    transform: translate(0, 100%);  
}
.swiper-container_animate_init {
	opacity: 0;
}
.introduce1_Ri_animate_init,
.development_img_animate_init {
	opacity: 0;
    transform: translate(100%, 0);
}

.introduce1_Le_animate_init,
.cu_header_small_animate_init
{
	opacity: 0;
    transform: translate(-100%, 0);
}
.about_animate_init,
.programme1_animate_init,
.certify_animate_init,
.development1_animate_init {
	opacity: 0;
    transform: translate(0, -100%); 
}
.cu_header_small_animate_done,
.certify_animate_done,
.about_animate_done,
.introduce1_Le_animate_done,
.introduce1_Ri_animate_done,
.programme2_animate_done,
.programme1_animate_done,
.foot_animate_done,
.apply_img2_animate_done,
.development_img_animate_done,
.development2_animate_done,
.development1_animate_done,
.nav_animate_done,
.swiper-container_animate_done{
    opacity: 1;
    transform: none;
    transition:all 1.5s;
}